<div class="alert alert-warning">
<ul>
<li class="h3">There are <%= @categorieCount%> catergories</li>
<li class="h3">There are <%= @productCount%> products</li>
<li class="h3"><%= link_to 'Admin Products',  [:admin, :products] %></li>
</ul>
</div>
