<div class="alert alert-warning">
  <h3 class="alert-heading">About</h3>

  <p>This is a website selling odd things. 
  Some of our items seem to make no sense, but 
  they do if you think about it.</p>
</div>